.my_button
{
    width: 170px; 
    height: 70px;
    font-size: 20px;
    background-color:brown;
    border:0px;
    margin-top: 123px;
    border-radius: 30px;


}
.image
{
    height: 100%;
    width: 100%;
    background:url(images/fit2.png);
    background-size:200px 200px ;
}
.mid
{
    float: left;
    padding: 14% 9 9 42%;
}
